Final Report
Shared Files
Team3
Tests
Design Pitch Grading Rubric
Design Pitch Speech
FinalCompetition2017_4180_3758
FinalCompetition2017_5180
FinalReportGrading Rubric
FinalReportGrading Rubric2
Flow Chart
